#map{
  height: 180px;
}
.appContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.searchForm {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000; /* important: above map */
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  gap: 8px;
}